<a href="https://colab.research.google.com/github/Angelthebestone/ANALISIS-ZNI/blob/main/estado_de_la_prestaci_n_del_servicio_de_energ_a_en_zonas_no_interconectadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ANALISIS DE LA PRESTACIÓN DEL SERVICIO DE ENERGÍA EN ZONAS NO INTERCONECTADAS**

##**IMPORTACIÓN Y REVISIÓN DE LOS DATOS**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from google.colab import drive
from unidecode import unidecode
drive.mount('/content/drive')

url1 = '/content/drive/MyDrive/Colab Notebooks/proyectos/Estado_de_la_prestación_del_servicio_de_energía_en_Zonas_No_Interconectadas_20260122.csv' #ZNI

url2 ='/content/drive/MyDrive/Colab Notebooks/proyectos/DIVIPOLA_-_Códigos_cabeceras_-_Centros_poblados_20260126.csv' #CODIGOS OFICIALES DE TODAS LAS LOCALIDADES DE COLOMBIA

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_ZNI = pd.read_csv(url1,
                     decimal=',',
                     thousands= '.',
                     parse_dates=["FECHA DE DEMANDA MÁXIMA"],
                     date_format= "%Y %b %d %I:%M:%S %p")
df_ZNI

,ID DEPATAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA (LETICIA - AMAZONAS),2020,1,3930642,1251191,7768.76,lunes,2020-01-27 14:15:00,24.0000
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO (PUERTO NARIÑO - AMAZONAS),2020,1,103897,36304,227.04,miércoles,2020-01-22 19:15:00,24.0000
2,91,AMAZONAS,91798,TARAPACÁ (ANM),91798000,TARAPACÁ (TARAPACÁ (ANM) - AMAZONAS),2020,1,22864,9277,88.96,jueves,2020-01-30 19:30:00,10.1900
3,5,ANTIOQUIA,5873,VIGÍA DEL FUERTE,5873001,SAN ANTONIO DE PADUA (VIGÍA DEL FUERTE - ANTIO...,2020,1,5617,1381,53.66,jueves,2020-01-23 19:45:00,4.1300
4,5,ANTIOQUIA,5873,VIGÍA DEL FUERTE,5873002,VEGÁEZ (VIGÍA DEL FUERTE - ANTIOQUIA),2020,1,2217,539,39.07,miércoles,2020-01-29 19:45:00,3.1700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983,97,VAUPÉS,97161,CARURÚ,97161000,CARURÚ(CARURÚ - VAUPÉS),2025,11,40640,7582,106.04,viernes,2025-11-07 18:45:00,17.0500
5984,97,VAUPÉS,97666,TARAIRA,97666000,TARAIRA(TARAIRA - VAUPÉS),2025,11,49902,12875,150.92,martes,2025-11-04 12:30:00,14.2833
5985,99,VICHADA,99001,PUERTO CARREÑO,99001000,PUERTO CARREÑO(PUERTO CARREÑO - VICHADA),2025,11,2817887,720573,5522.00,miércoles,2025-11-19 13:30:00,23.9500
5986,99,VICHADA,99001,PUERTO CARREÑO,99001002,CASUARITO(PUERTO CARREÑO - VICHADA),2025,11,14567,7108,85.05,viernes,2025-11-21 16:30:00,7.6250
5987,99,VICHADA,99773,CUMARIBO,99773000,CUMARIBO(CUMARIBO - VICHADA),2025,11,400807,131759,830.07,viernes,2025-11-21 13:30:00,23.8667

In [ ]:
df_centros_poblados = pd.read_csv(url2,
                                  decimal=',').drop(2)

df_centros_poblados

,Código Departamento,Nombre_departamento,Codigo Municipio,Nombre Municipio,Código Centro Poblado,Nombre Centro Poblado,Tipo*,longitud,Latitud
0,17,CALDAS,17050,ARANZAZU,17050006,SAN RAFAEL,CP,"-75,523505","5,261945"
1,17,CALDAS,17050,ARANZAZU,17050012,LA HONDA,CP,"-75,512562","5,253714"
3,5,ANTIOQUIA,5001,MEDELLÍN,5001001,PALMITAS,CP,"-75,690573","6,343919"
4,5,ANTIOQUIA,5001,MEDELLÍN,5001004,SANTA ELENA,CP,"-75,501293","6,210599"
5,5,ANTIOQUIA,5001,MEDELLÍN,5001009,ALTAVISTA,CP,"-75,643706","6,221429"
...,...,...,...,...,...,...,...,...,...
8156,99,VICHADA,99773,CUMARIBO,99773028,GUACO BAJO,CP,"-70,16446","3,364312"
8157,99,VICHADA,99773,CUMARIBO,99773029,GUACO ALTO,CP,"-70,131371","3,401846"
8158,99,VICHADA,99773,CUMARIBO,99773030,CAÑO BOCÓN,CP,"-68,657583","3,965914"
8159,99,VICHADA,99773,CUMARIBO,99773031,CAMUNIANAE,CP,"-69,059251","4,366269"
8160,99,VICHADA,99773,CUMARIBO,99773032,GUERIMA,CP,"-68,179036","4,035493"

##**LIMPIEZA DE DATOS**

In [ ]:
df_ZNI.rename(columns= {'ID DEPATAMENTO': 'ID DEPARTAMENTO'}, inplace=True) #CORRECCIÓN DE NOMBRE DE LA COLUMNA DEPARTAMENTO

In [ ]:
df_ZNI.isna().sum()

ID DEPARTAMENTO              0
DEPARTAMENTO                 0
ID MUNICIPIO                 0
MUNICIPIO                    0
ID LOCALIDAD                 0
LOCALIDAD                    0
AÑO SERVICIO                 0
MES SERVICIO                 0
ENERGÍA ACTIVA               0
ENERGÍA REACTIVA             0
POTENCIA MÁXIMA             80
DÍA DE DEMANDA MÁXIMA       81
FECHA DE DEMANDA MÁXIMA     80
PROMEDIO DIARIO EN HORAS     0
dtype: int64

In [ ]:
df_ZNI.dropna(inplace=True) #ELIMINAR DATOS NULOS

In [ ]:
def convertir_float(valor): #función para pasar datos de objects a float

  if isinstance(valor, (int, float)) is True: #primer ciclo comprueba si es int o float, en el caso de que sí, devuelve el valor
    return float(valor)

  elif ( '.'  not in valor ) and ( ',' not in valor ): ##verifica que si no tiene coma ni punto, solo lo convierte en float
    return float(valor)

  elif ( '.' in valor ) and ( ',' in valor ): #verifica si tiene punto y coma a la vez, donde primero elmina los puntos y luego las comas las remplaza por ppuntos
   valor = valor.replace('.', '')
   valor = valor.replace(',', '.')
   return float(valor)

  elif  ',' in valor:  # si solo tiene una coma, la transforma en punto.
    valor = valor.replace(',', '.')
    return float(valor)

  else:
    return np.nan

In [ ]:
df_centros_poblados[['longitud', 'Latitud']] = df_centros_poblados[['longitud', 'Latitud']].map(convertir_float)

In [ ]:
#se renombran algunas de las columnas de los centros poblados.
df_centros_poblados.rename(columns= {'Código Departamento' : 'ID DEPARTAMENTO',
                            'Codigo Municipio' : 'ID MUNICIPIO',
                            'Código Centro Poblado' : 'ID LOCALIDAD',
                            'Tipo*' : 'TIPO',
                            'longitud' : 'LONGITUD',
                            'Latitud' : 'LATITUD'},
                           inplace=True)

In [ ]:
#Se unen ambos dataframes
df_ZNI_limpio = pd.merge(df_ZNI,
                          df_centros_poblados,
                          how='left',
                          on=['ID DEPARTAMENTO', 'ID MUNICIPIO', 'ID LOCALIDAD']).dropna() #se eliminan los valores nulos ya que estos no coinciden con las localidades oficiales registradas.

In [ ]:
df_ZNI_limpio.drop(columns = ['DEPARTAMENTO', 'MUNICIPIO', 'LOCALIDAD'], inplace=True)

#Extraer filas para ser reubicadas
DEPARTAMENTOS = df_ZNI_limpio.pop("Nombre_departamento")
MUNICIPIOS = df_ZNI_limpio.pop("Nombre Municipio")
LOCALIDADES = df_ZNI_limpio.pop("Nombre Centro Poblado")

#reinsertar las filas en sus posiciones originales
df_ZNI_limpio.insert(1, 'DEPARTAMENTO', DEPARTAMENTOS)
df_ZNI_limpio.insert(3, 'MUNICIPIO', MUNICIPIOS)
df_ZNI_limpio.insert(5, 'LOCALIDAD', LOCALIDADES)

In [ ]:
#Recorre todas las columnas que hay que limpiar en el dataframe, pasandolas todas a floats
columnas_para_limpiar = ['ENERGÍA ACTIVA', 'ENERGÍA REACTIVA', 'POTENCIA MÁXIMA', 'PROMEDIO DIARIO EN HORAS', 'LONGITUD', 'LATITUD']
for col in columnas_para_limpiar:
    df_ZNI_limpio[col] = df_ZNI_limpio[col].apply(convertir_float)

In [ ]:
df_ZNI_limpio

,ID DEPARTAMENTO,DEPARTAMENTO,ID MUNICIPIO,MUNICIPIO,ID LOCALIDAD,LOCALIDAD,AÑO SERVICIO,MES SERVICIO,ENERGÍA ACTIVA,ENERGÍA REACTIVA,POTENCIA MÁXIMA,DÍA DE DEMANDA MÁXIMA,FECHA DE DEMANDA MÁXIMA,PROMEDIO DIARIO EN HORAS,TIPO,LONGITUD,LATITUD
0,91,AMAZONAS,91001,LETICIA,91001000,LETICIA,2020,1,3930642.0,1251191.0,7768.76,lunes,2020-01-27 14:15:00,24.0000,CM,-69.941721,-4.198950
1,91,AMAZONAS,91540,PUERTO NARIÑO,91540000,PUERTO NARIÑO,2020,1,103897.0,36304.0,227.04,miércoles,2020-01-22 19:15:00,24.0000,CM,-70.364937,-3.779934
2,91,AMAZONAS,91798,TARAPACÁ,91798000,TARAPACÁ,2020,1,22864.0,9277.0,88.96,jueves,2020-01-30 19:30:00,10.1900,CP,-69.741745,-2.890126
3,5,ANTIOQUIA,5873,VIGÍA DEL FUERTE,5873001,SAN ANTONIO DE PADUA,2020,1,5617.0,1381.0,53.66,jueves,2020-01-23 19:45:00,4.1300,CP,-76.761853,6.286530
4,5,ANTIOQUIA,5873,VIGÍA DEL FUERTE,5873002,VEGAEZ,2020,1,2217.0,539.0,39.07,miércoles,2020-01-29 19:45:00,3.1700,CP,-76.547062,6.205708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5902,97,VAUPÉS,97161,CARURÚ,97161000,CARURÚ,2025,11,40640.0,7582.0,106.04,viernes,2025-11-07 18:45:00,17.0500,CM,-71.302210,1.016116
5903,97,VAUPÉS,97666,TARAIRA,97666000,TARAIRA,2025,11,49902.0,12875.0,150.92,martes,2025-11-04 12:30:00,14.2833,CM,-69.635497,-0.564984
5904,99,VICHADA,99001,PUERTO CARREÑO,99001000,PUERTO CARREÑO,2025,11,2817887.0,720573.0,5522.00,miércoles,2025-11-19 13:30:00,23.9500,CM,-67.487095,6.186636
5905,99,VICHADA,99001,PUERTO CARREÑO,99001002,CASUARITO,2025,11,14567.0,7108.0,85.05,viernes,2025-11-21 16:30:00,7.6250,CP,-67.642366,5.682797
5906,99,VICHADA,99773,CUMARIBO,99773000,CUMARIBO,2025,11,400807.0,131759.0,830.07,viernes,2025-11-21 13:30:00,23.8667,CM,-69.795533,4.446352

In [ ]:
df_ZNI_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4848 entries, 0 to 5906
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID DEPARTAMENTO           4848 non-null   int64
 1   DEPARTAMENTO              4848 non-null   object
 2   ID MUNICIPIO              4848 non-null   int64
 3   MUNICIPIO                 4848 non-null   object
 4   ID LOCALIDAD              4848 non-null   int64
 5   LOCALIDAD                 4848 non-null   object
 6   AÑO SERVICIO              4848 non-null   int64
 7   MES SERVICIO              4848 non-null   int64
 8   ENERGÍA ACTIVA            4848 non-null   float64
 9   ENERGÍA REACTIVA          4848 non-null   float64
 10  POTENCIA MÁXIMA           4848 non-null   float64
 11  DÍA DE DEMANDA MÁXIMA     4848 non-null   object
 12  FECHA DE DEMANDA MÁXIMA   4848 non-null   datetime64[ns]
 13  PROMEDIO DIARIO EN HORAS  4848 non-null   float64
 14  TIPO                      4848 non-null   object
 15  LONGITUD                  4848 non-null   float64
 16  LATITUD                   4848 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(5)
memory usage: 681.8+ KB

##**Indicadores de servicio por localidad**